---
import { getCollection } from 'astro:content'
import DateFormatter from '../components/DateFormatter.vue'
import Layout from '../layouts/Layout.astro'

const posts = (await getCollection('blog')).sort((a, b) => Number(b.slug) - Number(a.slug))
---

<Layout title="Blog" breadcrumbs={['home', 'blog']}>
  <section class="w-full flex flex-col gap-6 text-sm sm:text-base">
    {
      posts.map(post => (
        <a href={`/${post.slug}/`} class="flex items-start gap-4">
          <DateFormatter
            value={post.data.pubDate}
            class="flex-shrink-0 text-black/25 dark:text-white/25"
          />
          <span class="underline text-black/75 dark:text-white/75">
            {post.data.title}
          </span>
        </a>
      ))
    }
  </section>
</Layout>
