---
import HeaderLink from './HeaderLink.astro';
import { GITHUB_AVATAR } from '../consts';
---

<header>
	<nav class="flex items-center justify-end px-8 py-6 fixed top-0 w-screen bg-white">
		<img class="block w-12 h-12 rounded-full overflow-hidden shadow cursor-pointer absolute left-8" src={GITHUB_AVATAR} />
		<div class="flex items-center gap-4">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
		</div>
	</nav>
</header>
