---
import ThemeSwitch from './ThemeSwitch.vue'
import GitHubSolid from './GitHubSolid.vue'
---

<header>
	<nav class="flex items-center justify-end px-8 py-6 fixed top-0 w-screen backdrop-blur-lg gap-4">
		<GitHubSolid class:list={['text-neutral-500 dark:text-neutral-300']} />
		<ThemeSwitch client:only />
	</nav>
</header>
