---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, date } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main class="pt-[72px]">
			<article>
				<div class="prose">
					<div class="title">
						<div>
							<span>{date}</span>
						</div>
						<h1>{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
	</body>
</html>
